@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200;400;600&family=Roboto+Slab:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Franklin";
}

.logo {
  color: #ab2626;
  font-size: 30px;
}

body {
  background-image: url("./img/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*barra de navegacion*/

.container {
  max-width: 1366px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  height: 65px;
  border-radius: 15px;
  padding: 10px 3%;
  width: 94%;
  font-weight: bold;
}

.menu,
.cerrar-menu {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 6px;
}

ul li a {
  text-decoration: none;
  font-size: 21px;
  padding: 0 15px;
  color: rgb(0, 0, 0);
}

ul li a:hover {
  color: rgb(196, 39, 39);
}

/*banner*/

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.banner img {
  border-radius: 15px;
  width: 100%;
}

/*bienvenidos*/

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-centrar {
  background-color: aliceblue;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  font-weight: bold;
}

.container-centrar p {
  font-size: 22px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.container-centrar span {
  color: #c51b1b;
}

.info .envios {
  padding: 20px 0;
}

.info .envios img {
  width: 70px;
}

.info .envios p {
  font-size: 16px;
}

.info .envios .color {
  color: #004ca3;
}

.redes {
  background-color: aliceblue;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  padding: 15px 0;
  border-radius: 20px;
}

.redes h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
}

.container-redes p {
  font-size: 20px;
  font-weight: bold;
}

.container-redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.container-redes img {
  height: 100px;
  width: 100px;
}

/*footer*/

.inicio-footer {
  background-color: aliceblue;
  width: 100%;
  margin-top: 60px;
  padding: 10px 0;
}

footer p {
  text-align: center;
}

footer p .rojo {
  color: #c51b1b;
}

footer p .azul {
  color: #004ca3;
}

/*nosotros*/

.container-nosotros {
  margin-top: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-nosotros p {
  font-size: 25px;
}

.container-nosotros img {
  width: 350px;
  border-radius: 20px;
}

.texto-nosotros {
  margin-left: 50px;
  width: 600px;
}

.texto-nosotros h3 {
  text-align: start;
  font-size: 26px;
  margin-bottom: 10px;
  border-bottom: 3px solid #c51b1b;
  margin-left: 20px;
  display: inline-block;
}

.texto-nosotros p {
  font-size: 18px;
  font-weight: normal;
}

/*vision y mision*/

.v-m {
  margin-top: 60px;
}

.v-m h3 {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 3px solid #004ca3;
  display: inline-block;
}

.vision,
.mision {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-color: aliceblue;
  padding: 20px;
}

.mision {
  margin-left: 26px;
}

.nosotros-footer {
  background-color: aliceblue;
  width: 100%;
  margin-top: 60px;
  padding: 10px 0;
}

/*productos*/

.centrar-pro {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 40px 20px;
  margin-top: 60px;
}

.container-productos {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;
}

.container-productos img {
  width: 300px;
  border: 2px solid black;
  border-radius: 20px;
  height: 350px;
}

.container-productos img:hover {
  transform: scale(1.03);
  transition-duration: 1s;
}

.container-productos h3 {
  font-size: 22px;
  margin: 5px 0;
}

.container-productos p {
  font-size: 20px;
  margin: 5px 0;
}

.container-productos button {
  margin: 15px 0;
  font-size: 20px;
  color: aliceblue;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.productos-footer {
  background-color: aliceblue;
  margin-top: 60px;
  padding: 10px 0;
}

/*contacto*/

.container-contacto {
  background-color: aliceblue;
  width: 100%;
  margin-top: 60px;
  height: 40rem;
  border-radius: 20px;
}

.container-contacto h3 {
  font-size: 28px;
  text-align: center;
  padding: 20px 0;
}
.contacto-footer {
  background-color: aliceblue;
  margin-top: 140px;
  padding: 10px 0;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comentarios {
  width: 500px;
}

.comentarios label {
  display: block;
  font-size: 20px;
}

.comentarios textarea {
  padding: 10px;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 60%;
}

form label {
  display: block;
}

.block {
  grid-column: 1/3;
}

.estilo_form select {
  width: 370px;
  height: 50px;
  padding: 8px;
}

.estilo_form {
  margin: 10px 0;
}

.estilo_form label {
  font-size: 20px;
  margin-bottom: 5px;
}

.estilo_form input {
  width: 350px;
  height: 28px;
  padding: 8px;
}

form .boton {
  margin-top: 14px;
  padding: 10px 0;
  font-size: 18px;
  color: aliceblue;
  background-color: #c51b1b;
  cursor: pointer;
}

.container-gracias {
  background-image: url("./img/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gracias {
  text-align: center;
  border-radius: 20px;
  background-color: aliceblue;
  padding: 20px;
  width: 100%;
}

/* version mobile */

@media (max-width: 480px) {
  /*barra de navegacion*/
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
  .logo {
    font-size: 20px;
  }

  .menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.7rem;
    background-color: transparent;
    cursor: pointer;
  }

  .menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: aliceblue;
  }

  nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  nav.visible {
    opacity: 1;
    visibility: visible;
  }

  nav ul {
    flex-direction: column;
    align-items: end;
    border: none;
  }

  nav ul li {
    padding: 10px 0;
  }

  nav ul li a {
    color: white;
    padding: 0px;
  }

  header {
    border-radius: 0;
  }

  /* banner */

  .banner {
    margin: 20px;
  }

  .banner img {
    border-radius: 0;
  }

  /*bienvenidos*/

  .container-centrar {
    border-radius: 0px;
  }

  .container-centrar p {
    font-size: 18px;
  }

  .info {
    flex-direction: column;
  }

  .info .envios img {
    width: 70px;
  }

  .info .envios p {
    font-size: 14px;
  }

  /*redes*/

  .redes {
    margin-top: 20px;
    border-radius: 0px;
  }

  .redes h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .container-redes p {
    font-size: 15px;
  }

  .container-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .container-redes div {
    padding: 20px 0;
  }

  .container-redes img {
    height: 50px;
    width: 50px;
    padding: 10px 0;
  }

  /*footer*/

  .inicio-footer {
    margin-top: 20px;
  }

  footer p {
    text-align: center;
    font-size: 13px;
  }

  footer p .rojo {
    color: #c51b1b;
  }

  footer p .azul {
    color: #004ca3;
  }

  /* nosotros */

  .centrar {
    flex-direction: column;
  }

  .container-centrar {
    padding: 10px 0;
    height: 60vh;
  }

  .container-nosotros {
    margin-top: 20px;
    flex-direction: column;
  }

  .container-nosotros img {
    width: 300px;
    height: 300px;
    border-radius: 0px;
    padding: 10px;
  }

  .texto-nosotros {
    margin-left: 0px;
    width: 400px;
  }

  .texto-nosotros h3 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    border-bottom: 3px solid #c51b1b;
    margin-left: 20px;
    display: inline-block;
  }

  .texto-nosotros p {
    font-size: 13px;
  }

  /*vision y mision*/

  .v-m {
    margin-top: 20px;
  }

  .v-m h3 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #004ca3;
    display: inline-block;
    margin-left: 10px;
  }

  .v-m p {
    margin-left: 10px;
  }

  .vision,
  .mision {
    width: 100%;
    height: 120px;
    border-radius: 0px;
    background-color: aliceblue;
    padding: 20px 0;
  }

  .mision {
    margin-left: 0px;
    margin-top: 20px;
  }

  /*productos*/

  .centrar-pro {
    background-color: aliceblue;
    border-radius: 0px;
    padding: 20px;
    margin-top: 20px;
  }

  .container-productos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 30px;
  }

  .container-productos img {
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    height: 350px;
  }

  .container-productos h3 {
    font-size: 22px;
    margin: 5px 0;
  }

  .container-productos p {
    font-size: 20px;
    margin: 5px 0;
  }

  .container-productos button {
    margin: 15px 0;
    font-size: 20px;
    color: aliceblue;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }

  .productos-footer {
    background-color: aliceblue;
    margin-top: 20px;
    padding: 10px 0;
  }

  /*contacto*/

  .container-contacto {
    background-color: aliceblue;
    width: 100%;
    margin-top: 20px;
    height: 70rem;
    border-radius: 0px;
  }

  .container-contacto h3 {
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
  }
  .contacto-footer {
    background-color: aliceblue;
    margin-top: 20px;
    padding: 10px 0;
  }

  .formulario {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .comentarios {
    width: 500px;
  }

  .comentarios label {
    display: block;
    font-size: 22px;
  }

  .comentarios textarea {
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form label {
    display: block;
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comen {
    margin-bottom: 15px;
  }

  .estilo_form select {
    width: 370px;
    height: 50px;
    padding: 8px;
  }

  .estilo_form {
    margin: 10px 0;
  }

  .estilo_form label {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .estilo_form input {
    width: 350px;
    height: 28px;
    padding: 8px;
  }

  form .boton {
    margin-top: 14px;
    padding: 15px;
    font-size: 18px;
    color: aliceblue;
    background-color: #c51b1b;
    cursor: pointer;
  }

  /*gracias*/

  .container-gracias {
    background-image: url("./img/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gracias {
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
  }
}
